#page{
    background-color: #e9f0f4;
    max-height: 700px;
    max-width: 1200px;
}
.container {
    width: 300px;
    display:block;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
}
h3{
    width: 300px;
    height: 40px;
    display:block;
    margin: 0 auto;
    position: relative;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: #2e3641;
    
}
li{
    font-family: 'Lato', sans-serif;
}
button{
    background-color: #FFF;
    size: 20px;
}
